node_modules
.next
.localappdata
.npm-cache*
.prisma-home
out
dist
.env
.env.local
.env*.local
*.log
public/uploads/*
!public/uploads/.gitkeep

# Local/cache artifacts
.npm-cache-project/
.npm/
.cache/
.vercel/
*.zip
preview/
